.App {
  text-align: center;
}
/*the container must be positioned relative:*/
.dropDown {
    align-self: center;
    border: 1px solid #ccc;
    width: 180px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url('icon-select.png') no-repeat 90% 50%;
    background-size: 14%;
}
.dropDown select {
    padding: 5px 8px;
    width: 180px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.dropDown select:focus {
    outline: none;
}
